html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1.2fr 2.5fr 3fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "h h h"
                         "a m m"
                         "f f f"    


    ;
}




header{
    background-color: rgba(111, 230, 190, 0.877);
    width: 100%;
    height: 100%;
    grid-area: h;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 2.5em;
    margin-left: 50px;
    font-variant: small-caps;
}

menu{
    margin-right: 50px;
    font-weight: bold;
    font-variant: small-caps;
}

menu ul li{
    margin-right: 50px;
    list-style: none;
    display: inline; 
    padding: 15px;
    font-size: 2em;
}

header a{
    text-decoration: none;
    color: #000;
}

header a:hover{
    color: #fff;
    background-color: rgb(21, 56, 45);
    padding: 15px;
    border-radius:10px;
    transition: 0.5s;
}

main{
    background-color: rgba(53, 110, 91, 0.877);
    width: 100%;
    height: 100%;
    grid-area: m;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#new-posts h1{
    
}

#post-container{
    width: 80%;
    margin: auto;
    display: flex;

}

main article{
    background-color: red;
    width: 100px;
    height: 100px;
}

aside{
    background-color: rgba(39, 82, 68, 0.877);
    width: 100%;
    height: 100%;
    grid-area: a;
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
    overflow-y: scroll;
    overflow-x: hidden;
}

aside input{
    margin:20px 10px 20px;
    background-color:rgba(39, 82, 68, 0.877);
    border: 0;
    width: 60%;
    padding: 10px;
    border-radius: 10px;

}
 
::-webkit-input-placeholder{
    color: #fff;
    font-size: 1.5em;
    padding-left: 20px;
}

aside ul li{
    list-style: none;
    font-size: 1.2em;
    font-variant: small-caps;
}

footer{
    background-color: rgba(27, 58, 48, 0.877);
    width: 100%;
    height: 100%;
    grid-area: f;
}